<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="nuget.orgv2" value="https://www.nuget.org/api/v2/" />
		<add key="Acis" value="https://msazure.pkgs.visualstudio.com/_packaging/Official/nuget/v3/index.json" />
        <add key="CoreXT" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/CoreXTMirror/nuget/index.json" />		
        <add key="Toolset" value="https://msazure.pkgs.visualstudio.com/_packaging/Toolset/nuget/v3/index.json" />
        <add key="Official" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/Official/nuget/index.json" />
        <add key="Msblox" value="https://msblox.pkgs.visualstudio.com/_packaging/AzureGenevaMonitoring/nuget/v3/index.json" />
        <add key="OSS" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/OSS/nuget/index.json" />
    </packageSources>
	<config>
		<add key="repositoryPath" value="packages" />
	</config>
</configuration>
