<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
  <SMEEndpoints>
    <Endpoint>
      <Name>Basic Support</Name>
      <EndpointType>Basic Support endpoint</EndpointType>
      <Url />
      <SMEConfig>
        <ConfigElement>
          <Key>StorageName</Key>
          <Value>azuresupporttest</Value>
        </ConfigElement>
        <ConfigElement>
          <Key>StorageTableName</Key>
          <Value>BasicSupportWhiteList</Value>
        </ConfigElement>
        <ConfigElement>
          <Key>OneTimeFreeTechnicalSupportStorageTableName</Key>
          <Value>OneTimeFreeTechnicalSupport</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>storagekey</Identifier>
          <Path>https://allowedacisextensions.vault.azure.net/secrets/storagekey</Path>
        </Secret>
      </Secrets>
    </Endpoint>
  </SMEEndpoints>
  <SMEConfig/>
  <ExtensionCertificates>
  </ExtensionCertificates>
  <ContactInfo>
    <ContactEmailAddress>azengcase@microsoft.com</ContactEmailAddress>
    <IcmService>Azure Support Case Mgmt</IcmService>
    <IcmTeam>Azure EngSys Case Submission</IcmTeam>
    <ServiceTreeServiceId>44210bfb-8993-4c2c-97cd-5d0d4502a5c3</ServiceTreeServiceId>
  </ContactInfo>
</AcisSMEConfiguration>